@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    position: fixed;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    color: white;
    z-index: 30;
}
.brand-title{
    font-size: 4rem;
    position: relative;
    left: 10%;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    right: 20%;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 2rem;
    display: block;
    letter-spacing: .03rem;
    font-size: 16px;
}
.navbar-links li:hover{
    background-color: #555;
    transition: .2s;
    border-radius: 4px;
}

/* about section*/
#hero{
    background-image: url(building-bottom-top-view.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    background-attachment: fixed;
    z-index: 0;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .3;
    z-index: -1;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: white;
}
.whoweare{
    background-color: white;
    width: 100%;
    height: 40vh;
    display: block;
}
.whoweare .title{
    display: flex;
    margin: auto;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}
.whoweare .title h3{
    display: flex;
    font-size: 5rem;
    color: black;
}
.whoweare .information{
    display: flex;
    margin: auto;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.whoweare .information p{
    font-size: 2rem;
}
.whoweare-bottomimagebox{
    position: relative;
    height: 65vh;
    width: 100%;
    top: 0px;
    background-size: cover;
    background-image: url(bethany-legg-75nbwHfDsnY-unsplash.jpg);
    background-position-y: 60%;
}
.services{
    width: 100%;
    min-height: 80vh;
    z-index: 0;
    display: block;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.services .leftimagebox{
    height: 75vh;
    width: 40%;
    position: absolute;
    z-index: 2;
    margin-top: 100px;
    background-image: url(maria-stewart-p4tj0g-_aMM-unsplash.jpg);
    background-size: cover;
    background-position-x: 30%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.services .services-databox-right{
    position: absolute;
    height: 60vh;
    width: 55%;
    right: 0px;
}
.services .maintitle1 h1{
    font-size: 5rem;
    padding-top: 100px;
}
.services .extratext p{
    padding: 8px;
    font-size: 18px;
}
.services .row1,.row2{
    margin-top: 3%;
    display: flex;
}
.services .service1-box,.service2-box,.service3-box,.service4-box{
    max-width: 350px;
    flex-basis: 40%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 0%;
    padding: 35px 20px;
    box-sizing: border-box;
    transition: .25s;
    border: none;
    cursor: pointer;
}
.services .service1-box:hover,.service2-box:hover,.service3-box:hover,.service4-box:hover{
    /*background-color: rgb(243, 227, 241);*/
    transform: scale(1.1);
}

.services .service2-box,.service4-box{
    margin-left: 6%;
}
.services .subtitle1,.subtitle2,.subtitle3,.subtitle4{
    font-size: 115%;
    justify-content: left;
    align-items: left;
}
.services .service-1-information,.service-2-information,.service-3-information,.service-4-information{
    font-size: 1.5rem;
    padding-top: 8px;
    align-items: left;
    justify-content: left;
}
.parallax-window {
    height: 60vh;
    background: transparent;
}
.why-work-with-us{
    content: '';
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
/* ---------- Service Main Page ---------------*/
.services-hero-container{
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#services-hero{
    background-image: url(building-bottom-top-view.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    background-attachment: fixed;
    z-index: 0;
}
#services-hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
#services-hero h1{
    margin-top: 3%;
    display: block;
    width: fit-content;
    font-size: 4.5rem;
    position: relative;
    color: white;
}
.servicepage{
    height: 330vh;
    width: 100%;
    position: relative;
}
.servicepage .service1-mainpagebox{
    min-height: 55vh;
    width: 100%;
    position: relative;
}
.servicepage .service1-mainpagebox .service1-left{
    width:  50%;
    min-height: 55vh;
    position: relative;
}
.servicepage .service1-mainpagebox .service1-left .service1-wordarea{
    width: 500px;
    min-height: 40vh;
    position: absolute;
    right: 5%;
    margin: auto;
    top: 15%;
}
.servicepage .service1-mainpagebox .service1-left .service1-wordarea .header h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
}
.servicepage .service1-mainpagebox .service1-left .service1-wordarea .information-service1 p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 130%;
    word-spacing: 3px;
    color: rgb(95, 95, 95);
    font-family: Poppins;
    font-weight: 500;
}
.servicepage .service1-mainpagebox .service1-right{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    right: 0;
}
.servicepage .service1-mainpagebox .service1-right .service1-imagearea{
    width: 550px;
    min-height: 36vh;
    position: absolute;
    left: 5px;
    top: 15%;
    margin: auto;
    background-image: url(adeolu-eletu-unRkg2jH1j0-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
}
.servicepage .service2-mainpagebox{
    min-height: 55vh;
    width: 100%;
    position: relative;
}
.servicepage .service2-mainpagebox .service2-right{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    right: 0;
}
.servicepage .service2-mainpagebox .service2-right .service2-wordarea{
    width: 500px;
    min-height: 40vh;
    position: absolute;
    left: 5%;
    margin: auto;
    top: 10%;
}
.servicepage .service2-mainpagebox .service2-right .service2-wordarea .header h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
}
.servicepage .service2-mainpagebox .service2-right .service2-wordarea .information-service2 p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 130%;
    word-spacing: 3px;
    color: rgb(95, 95, 95);
    font-family: Poppins;
    font-weight: 500;
}
.servicepage .service2-mainpagebox .service2-left{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    left: 0;
}
.servicepage .service2-mainpagebox .service2-left .service2-imagearea{
    width: 550px;
    min-height: 36vh;
    position: absolute;
    right: 5px;
    top: 10%;
    margin: auto;
    background-image: url(adeolu-eletu-unRkg2jH1j0-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
}
.servicepage .service3-mainpagebox{
    min-height: 55vh;
    width: 100%;
    position: relative;
}
.servicepage .service3-mainpagebox .service3-left{
    width: 50%;
    min-height: 55vh;
    position: relative;
}
.servicepage .service3-mainpagebox .service3-left .service3-wordarea{
    width: 500px;
    min-height: 40vh;
    position: absolute;
    right: 5%;
    margin: auto;
    top: 6%;
}
.servicepage .service3-mainpagebox .service3-left .service3-wordarea .header h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
}
.servicepage .service3-mainpagebox .service3-left .service3-wordarea .information-service3 p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 130%;
    word-spacing: 3px;
    color: rgb(95, 95, 95);
    font-family: Poppins;
    font-weight: 500;
}
.servicepage .service3-mainpagebox .service3-right{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    right: 0;
}
.servicepage .service3-mainpagebox .service3-right .service3-imagearea{
    width: 550px;
    min-height: 36vh;
    position: absolute;
    left: 5px;
    top: 6%;
    margin: auto;
    background-image: url(adeolu-eletu-unRkg2jH1j0-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
}
.servicepage .service4-mainpagebox{
    min-height: 55vh;
    width: 100%;
    position: relative;
}
.servicepage .service4-mainpagebox .service4-right{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    right: 0;
}
.servicepage .service4-mainpagebox .service4-right .service4-wordarea{
    width: 500px;
    min-height: 40vh;
    position: absolute;
    left: 5%;
    margin: auto;
    top: 3%;
}
.servicepage .service4-mainpagebox .service4-right .service4-wordarea .header h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
}
.servicepage .service4-mainpagebox .service4-right .service4-wordarea .information-service4 p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 130%;
    word-spacing: 3px;
    color: rgb(95, 95, 95);
    font-family: Poppins;
    font-weight: 500;
}
.servicepage .service4-mainpagebox .service4-left{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    left: 0;
}
.servicepage .service4-mainpagebox .service4-left .service4-imagearea{
    width: 550px;
    min-height: 36vh;
    position: absolute;
    right: 5px;
    top: 3%;
    margin: auto;
    background-image: url(adeolu-eletu-unRkg2jH1j0-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
}
.servicepage .service5-mainpagebox{
    min-height: 55vh;
    width: 100%;
    position: relative;
}
.servicepage .service5-mainpagebox .service5-left{
    width: 50%;
    min-height: 55vh;
    position: relative;
}
.servicepage .service5-mainpagebox .service5-left .service5-wordarea{
    width: 500px;
    min-height: 40vh;
    position: absolute;
    right: 5%;
    margin: auto;
    top: -2%;
}
.servicepage .service5-mainpagebox .service5-left .service5-wordarea .header h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
}
.servicepage .service5-mainpagebox .service5-left .service5-wordarea .information-service5 p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 130%;
    word-spacing: 3px;
    color: rgb(95, 95, 95);
    font-family: Poppins;
    font-weight: 500;
}
.servicepage .service5-mainpagebox .service5-right{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    right: 0;
}
.servicepage .service5-mainpagebox .service5-right .service5-imagearea{
    width: 550px;
    min-height: 36vh;
    position: absolute;
    left: 5px;
    top: -2%;
    margin: auto;
    background-image: url(adeolu-eletu-unRkg2jH1j0-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
}
.servicepage .service6-mainpagebox{
    min-height: 55vh;
    width: 100%;
    position: relative;
}
.servicepage .service6-mainpagebox .service6-right{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    right: 0;
}
.servicepage .service6-mainpagebox .service6-right .service6-wordarea{
    width: 500px;
    min-height: 40vh;
    position: absolute;
    left: 5%;
    margin: auto;
    top: -5%;
}
.servicepage .service6-mainpagebox .service6-right .service6-wordarea .header h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
}
.servicepage .service6-mainpagebox .service6-right .service6-wordarea .information-service6 p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 130%;
    word-spacing: 3px;
    color: rgb(95, 95, 95);
    font-family: Poppins;
    font-weight: 500;
}
.servicepage .service6-mainpagebox .service6-left{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    left: 0;
}
.servicepage .service6-mainpagebox .service6-left .service6-imagearea{
    width: 550px;
    min-height: 36vh;
    position: absolute;
    right: 5px;
    top: -5%;
    margin: auto;
    background-image: url(adeolu-eletu-unRkg2jH1j0-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
}
.service1-mainpagebox:hover h1, .service2-mainpagebox:hover h1, .service3-mainpagebox:hover h1, .service4-mainpagebox:hover h1, .service5-mainpagebox:hover h1, .service6-mainpagebox:hover h1{
    color: rgb(130, 224, 21);
    transition: .2s;
}     

/* ------------- Sectors Main Page --------- */
.sector-hero-container{
    min-height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sector-hero{
    background-image: url(building-bottom-top-view.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    background-attachment: fixed;
    z-index: 0;
}
#sector-hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
#sector-hero h1{
    margin-top: 3%;
    display: block;
    width: fit-content;
    font-size: 4.5rem;
    position: relative;
    color: white;
}
.sectorpage{
    height: 330vh;
    width: 100%;
    position: relative;
}
.sectorpage .sector1-mainpagebox{
    min-height: 55vh;
    width: 100%;
    position: relative;
}
.sectorpage .sector1-mainpagebox .sector1-left{
    width:  50%;
    min-height: 55vh;
    position: relative;
}
.sectorpage .sector1-mainpagebox .sector1-left .sector1-wordarea{
    width: 500px;
    min-height: 40vh;
    position: absolute;
    right: 5%;
    margin: auto;
    top: 15%;
}
.sectorpage .sector1-mainpagebox .sector1-left .sector1-wordarea .header h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
}
.sectorpage .sector1-mainpagebox .sector1-left .sector1-wordarea .information-sector1 p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 130%;
    word-spacing: 3px;
    color: rgb(95, 95, 95);
    font-family: Poppins;
    font-weight: 500;
}
.sectorpage .sector1-mainpagebox .sector1-right{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    right: 0;
}
.sectorpage .sector1-mainpagebox .sector1-right .sector1-imagearea{
    width: 550px;
    min-height: 36vh;
    position: absolute;
    left: 5px;
    top: 15%;
    margin: auto;
    background-image: url(adeolu-eletu-unRkg2jH1j0-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
}
.sectorpage .sector2-mainpagebox{
    min-height: 55vh;
    width: 100%;
    position: relative;
}
.sectorpage .sector2-mainpagebox .sector2-right{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    right: 0;
}
.sectorpage .sector2-mainpagebox .sector2-right .sector2-wordarea{
    width: 500px;
    min-height: 40vh;
    position: absolute;
    left: 5%;
    margin: auto;
    top: 10%;
}
.sectorpage .sector2-mainpagebox .sector2-right .sector2-wordarea .header h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
}
.sectorpage .sector2-mainpagebox .sector2-right .sector2-wordarea .information-sector2 p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 130%;
    word-spacing: 3px;
    color: rgb(95, 95, 95);
    font-family: Poppins;
    font-weight: 500;
}
.sectorpage .sector2-mainpagebox .sector2-left{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    left: 0;
}
.sectorpage .sector2-mainpagebox .sector2-left .sector2-imagearea{
    width: 550px;
    min-height: 36vh;
    position: absolute;
    right: 5px;
    top: 10%;
    margin: auto;
    background-image: url(adeolu-eletu-unRkg2jH1j0-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
}
.sectorpage .sector3-mainpagebox{
    min-height: 55vh;
    width: 100%;
    position: relative;
}
.sectorpage .sector3-mainpagebox .sector3-left{
    width: 50%;
    min-height: 55vh;
    position: relative;
}
.sectorpage .sector3-mainpagebox .sector3-left .sector3-wordarea{
    width: 500px;
    min-height: 40vh;
    position: absolute;
    right: 5%;
    margin: auto;
    top: 6%;
}
.sectorpage .sector3-mainpagebox .sector3-left .sector3-wordarea .header h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
}
.sectorpage .sector3-mainpagebox .sector3-left .sector3-wordarea .information-sector3 p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 130%;
    word-spacing: 3px;
    color: rgb(95, 95, 95);
    font-family: Poppins;
    font-weight: 500;
}
.sectorpage .sector3-mainpagebox .sector3-right{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    right: 0;
}
.sectorpage .sector3-mainpagebox .sector3-right .sector3-imagearea{
    width: 550px;
    min-height: 36vh;
    position: absolute;
    left: 5px;
    top: 6%;
    margin: auto;
    background-image: url(adeolu-eletu-unRkg2jH1j0-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
}
.sectorpage .sector4-mainpagebox{
    min-height: 55vh;
    width: 100%;
    position: relative;
}
.sectorpage .sector4-mainpagebox .sector4-right{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    right: 0;
}
.sectorpage .sector4-mainpagebox .sector4-right .sector4-wordarea{
    width: 500px;
    min-height: 40vh;
    position: absolute;
    left: 5%;
    margin: auto;
    top: 3%;
}
.sectorpage .sector4-mainpagebox .sector4-right .sector4-wordarea .header h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
}
.sectorpage .sector4-mainpagebox .sector4-right .sector4-wordarea .information-sector4 p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 130%;
    word-spacing: 3px;
    color: rgb(95, 95, 95);
    font-family: Poppins;
    font-weight: 500;
}
.sectorpage .sector4-mainpagebox .sector4-left{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    left: 0;
}
.sectorpage .sector4-mainpagebox .sector4-left .sector4-imagearea{
    width: 550px;
    min-height: 36vh;
    position: absolute;
    right: 5px;
    top: 3%;
    margin: auto;
    background-image: url(adeolu-eletu-unRkg2jH1j0-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
}
.sectorpage .sector5-mainpagebox{
    min-height: 55vh;
    width: 100%;
    position: relative;
}
.sectorpage .sector5-mainpagebox .sector5-left{
    width: 50%;
    min-height: 55vh;
    position: relative;
}
.sectorpage .sector5-mainpagebox .sector5-left .sector5-wordarea{
    width: 500px;
    min-height: 40vh;
    position: absolute;
    right: 5%;
    margin: auto;
    top: -2%;
}
.sectorpage .sector5-mainpagebox .sector5-left .sector5-wordarea .header h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
}
.sectorpage .sector5-mainpagebox .sector5-left .sector5-wordarea .information-sector5 p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 130%;
    word-spacing: 3px;
    color: rgb(95, 95, 95);
    font-family: Poppins;
    font-weight: 500;
}
.sectorpage .sector5-mainpagebox .sector5-right{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    right: 0;
}
.sectorpage .sector5-mainpagebox .sector5-right .sector5-imagearea{
    width: 550px;
    min-height: 36vh;
    position: absolute;
    left: 5px;
    top: -2%;
    margin: auto;
    background-image: url(adeolu-eletu-unRkg2jH1j0-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
}
.sectorpage .sector6-mainpagebox{
    min-height: 55vh;
    width: 100%;
    position: relative;
}
.sectorpage .sector6-mainpagebox .sector6-right{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    right: 0;
}
.sectorpage .sector6-mainpagebox .sector6-right .sector6-wordarea{
    width: 500px;
    min-height: 40vh;
    position: absolute;
    left: 5%;
    margin: auto;
    top: -5%;
}
.sectorpage .sector6-mainpagebox .sector6-right .sector6-wordarea .header h1{
    font-size: 3.5rem;
    padding-bottom: 30px;
}
.sectorpage .sector6-mainpagebox .sector6-right .sector6-wordarea .information-sector6 p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 130%;
    word-spacing: 3px;
    color: rgb(95, 95, 95);
    font-family: Poppins;
    font-weight: 500;
}
.sectorpage .sector6-mainpagebox .sector6-left{
    width: 50%;
    min-height: 55vh;
    position: absolute;
    top: 0;
    left: 0;
}
.sectorpage .sector6-mainpagebox .sector6-left .sector6-imagearea{
    width: 550px;
    min-height: 36vh;
    position: absolute;
    right: 5px;
    top: -5%;
    margin: auto;
    background-image: url(adeolu-eletu-unRkg2jH1j0-unsplash.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 3px;
}
.sector1-mainpagebox:hover h1, .sector2-mainpagebox:hover h1, .sector3-mainpagebox:hover h1, .sector4-mainpagebox:hover h1, .sector5-mainpagebox:hover h1, .sector6-mainpagebox:hover h1{
    color: rgb(130, 224, 21);
    transition: .2s;
}     

/*---------------Contact Us Main Page--------------*/
.contactus-hero-container{
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contactus-hero{
    background-image: url(building-bottom-top-view.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    background-attachment: fixed;
    z-index: 0;
}
#contactus-hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
.contactinfobox{
    width: 500px;
    height: 230px;
    background-color: rgb(240, 240, 240);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 2px;
    box-shadow: 0px 0px 20px;
}
.contactinfobox .contactinfo-title h1{
    font-size: 32px;
    padding-top: 30px;
    margin: 0;
    text-align: center;
    z-index: 3;
    color: black;
}
.contactinfobox .contactinfo-paragraph{
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
    font-family: poppins;
}
.contactinfobox .contactinfo-paragraph p{
    margin-top: 5px;
}
.contactinfobox:hover h1{
    color: rgb(13, 57, 202);
    transition: .2s;
}
.contactinfo{
    width: 100%;
    min-height: 70vh;
    position: relative;
    background-color: white
}
.contactinfo .submission-area{
    width: 1000px;
    height: 320px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
    border-radius: 2px;
}
.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group1, .form-group2, .form-group3, .form-group4{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group1 input{
    position: absolute;
    width: 48%;
}
.form-group2 input{
    position: absolute;
    width: 48%;
    right: 0px;
}
.form-group3 input{
    width: 100%;
    margin-top: 65px;
}
.form-group4 textarea{
    width: 100%;
    margin-top: 0px;
}
.form-group1 input, .form-group2 input, .form-group3 input, .form-group4 textarea{
    border: none;
    background-color: rgb(247, 247, 247);
    padding: 12px;
    border-radius: 5px;
    font-family: poppins;
    font-size: 14px;
}
.form-group1 input, .form-group2 input, .form-group3 input, .form-group4 textarea{
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-family: poppins;
    font-size: 14px;
}
.submit{
    width: 200px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 35px;
    background-color: rgb(18, 18, 150);
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contactinfo .title{
    font-size: 40px;
    width: 100%;
    right: 0;
    justify-content: center;
    align-items: center;
}
.contactinfo .title h1{
    font-size: 40px;
    margin: auto;
    right: 0;
}